{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-typescript",
      "@babel/preset-react"
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      ["@simbathesailor/babel-plugin-use-what-changed", {"active": true}]
    ]
}